body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 5em;
    }
}
@keyframes blinkCursor {
    from{
     border-right: 1px solid #A95FE3;

    }
    to{
      border-right: transparent
    }
  }
